<!DOCTYPE html> 
<html lang="en"> 
<head> 

</head> 
<body> 

<div class="container">
    <h3>Enter Comic Book Information</h3><br> 
    <form action="Post" action="/comic" class="form-horizontal"> 

        <div class="form-group"> 
            <label class="control-label col-sm-2" for="formPublisher">Publisher:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formPublisher" name="publisher" required placeholder="Publisher"> 
            </div> 
        </div> 

        <div class="form-group"> 
            <label class="control-label col-sm-2" for="formYear">Year:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formYear" name="year" required placeholder="Year Published"> 
            </div> 
        </div> 

        <div class="form-group"> 
            <label class="control-label col-sm-2" for="formIssueNum">Issue Number:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formIssueNum" name="issue_num" required placeholder="Issue Number"> 
            </div> 
        </div>                

        <div class="form-group"> 
            <label class="control-label col-sm-2" for="formCoverPrice">Cover Price:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formCoverPrice" name="cover_price" required placeholder="Cover Price"> 
            </div> 
        </div>  

         <div class="form-group"> 
            <label class="control-label col-sm-2" for="formTitle">Title:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formTitle" name="title" required placeholder="Title"> 
            </div> 
        </div>      
        
         <div class="form-group"> 
            <label class="control-label col-sm-2" for="formSubtitle">Subtitle:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formSubtitle" name="subtitle" required placeholder="Subtitle"> 
            </div> 
        </div> 

         <div class="form-group"> 
            <label class="control-label col-sm-2" for="formCondition">Condition:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formCondition" name="condition" required placeholder="Condition of Comic Book"> 
            </div> 
        </div>   

         <div class="form-group"> 
            <label class="control-label col-sm-2" for="formLinktoDealer">See Your Comic!:</label> 
            <div class="col-sm-6"> 
                <input class="form-control" type="text" id="formLinktoDealer" name="html_link_to_dealer" required placeholder="Url of Comic Book Dealer"> 
            </div> 
        </div> 

    <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
                    <p><button type="submit" class ="btn btn-primary">Submit</button></p><br>
        </div> 
    </div>

    </form>     
    <div class="row">
        <div class="col-md-2 col-md-offset-1"></div>
        <img class="img-responsive" src="/images/collage.jpeg" alt="justice league"> 
    </div>      

    </div>

</body>
</html> -->

