<h2> Enter Comic Book Information </h2>

<form method="Post" action="/comics" >
	<p><label for="publisher">Publisher:</label>
    <input type="text" id="publisher" name="publisher"></p>

    <p><label for="year">Year:</label>
    <input type="text" id="year" name="year"></p>

    <p><label for="issue_number">Issue Number:</label>
    <input type="text" id="issue_num" name="issue_num"></p>

        <p><label for="cover_price">Cover Price:</label>
    <input type="text" id="cover_price" name="cover_price"></p>

	<p><label for="title">Title:</label>
    <input type="text" id="title" name="title"></p>

    <p><label for="subtitle">Subtitle:</label>
    <input type="text" id="subtitle" name="subtitle"></p>

    <label for="content">Content:</label>
    <input type="text" id="content" name="content">
    <input type="submit" id="submit" value="submit"></>
</form>