<DOCTYPE! html>
<head>
  
</head>

<body>
  <h2>Welcome to Comic Book Swap!</h2>
  <h4>Please sign up or log in to see a listing of comic books!</h4>

  <p><a href="/sessions/login">Log In</a><p>
  <p><a href="/registrations/signup">Sign Up</a></p>
  
</body>

</html>