<DOCTYPE! html>
<head>
  
</head>

<body>
  <h2>Welcome to Your Comic Book Listings!</h2>
  <h4>Please log in or sign up to see a listing of your comic book collection!</h4>

  <p><a href="/sessions/login">Log In</a><p>
  <p><a href="/registrations/signup">Sign Up</a></p>
  
</body>

</html>