<!DOCTYPE HTML>

<head>

<link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
<!------ Include the above in your HEAD tag ---------->

</head>


</head>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-danger col-md-4 col-md-offset-4" align="center ">
    <%= flash[type] %>
   </div>
	</div>
		</div>
  			</div>
	<% end %>

<%=yield%>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</head>